$primary-background: #9e9e9e;
$primary-background-light: #cfcfcf;
$primary-background-dark: #707070;
$text-on-primary: #000000;
$secondary-background: #212121;
$secondary-background-light: #484848;
$secondary-background-light: #000000;
$text-on-secondary: #ffffff;
.App {}

.app-block {
    margin-top: 1px;
}