$primary-background: #9e9e9e;
$primary-background-light: #cfcfcf;
$primary-background-dark: #707070;
$text-on-primary: #000000;
$secondary-background: #212121;
$secondary-background-light: #484848;
$secondary-background-dark: #000000;
$text-on-secondary: #ffffff;
.CarSearch {
    text-align: center;
}

.select-year-make .select-model {
    display: block;
    margin: 0;
    width: 100%;
}

.select-model {
    visibility: hidden;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
}

.carsearch-button {
    width: 150px;
    margin-left: 5px;
    border: 1px black;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
}