.CarSearch {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    &.car-search-header {
        align-content: center;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}